/* CSS needed from simons branch to add into main css for arrows on reactions */
.btn-upvote {
    color: white;
    background-color: blue;
    border: none;
}

.btn-downvote {
    color: white;
    background-color: gray;
    border: none;
}

.btn-upvote:focus,
.btn-downvote:focus {
    box-shadow: none;
}
